/* -- CODIGO PADRÃO ? -- */
#mouseImg {
    margin-left: 60%;
    margin-top: -10%;
    width: 15%;
}

#mulher {
    display: none;
}

#qSomosh1 {
    text-align: center;
    color: #1576F5;
}

#qSomosh6 {
    color: #1576F5;
    text-align: center;
    font-size: 15px;
}

#quemsomos{
    height: 100%;
    width: 100%;
}

#quemsomos{
    background-color: #fff;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vw;
}

.shapeC{
position: absolute;
top: -10px;
}

.qsomos-container{
    display: flex;
    justify-content: center;
    width: 100%;

}

 /* -- area direita da tela -- */
.qsomos{
    background-color: #ffffff;
    width: 55%;
    height: 100%;
}

.areabotoes {
    margin-top: -18.5vh;
    display: block;
    background-color: transparent;
}

.tabela{
    box-shadow: 2px 2px 8px 1px rgb(128, 127, 127);
    border-radius: 0.5rem;
    width: 680px;
    height: 441.31px;
    left: 45%;
    top: 20%;
    z-index: 0;
}

.caixatexto p{
    position: absolute;
    z-index: 0;
    color: #1576F5;
    font-size: 17px;
    width: 650px;
    text-align: justify;
    margin-top: 10vh;
    padding: 1rem;
}

.caixatexto{
    justify-content: center;
    height: auto;
    left: 47%;
    top: 43%;
    
}

.mudanome{
    position: absolute;
    justify-content: center;
    height: auto;
    left: 47%;
    top: 24.5%;
}

.mudanome p{
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    font-size: 45px;
    width: 610px;
    text-align: center;
}

 /* -- area esquerda da tela -- */
 .qsomos-info{
    background-color: #ffffff;
    width: 45%;
    height: 100%;
   margin-top: -15vh;
}

.Imgfull{
    background-color: transparent;
    height: auto;
    width: 400px;
    top: 13%;
    left: 8.5%;
}
 
.mudabusca{
    z-index: 1;
    justify-content: center;
    height: auto;
    right: 62.9%;
    top: 38.9%;
}

.mudabusca p{
    
    z-index: 1;
    color: rgb(0, 0, 0);
    font-size: 30px;
    width: 350px;
    text-align:start;
}

.button {
    border-width: 0.5px 0px 0px 0px;
    border-color: #d0d6dd;
    background-color: transparent;
    width: 398px;
    height: 53px;
    z-index: 1;
    left: 8.6%;
    text-align:left;
    font-size: 15px;
    cursor: pointer;
    padding: 1.2rem;
}

.button:hover{
    background-color: #F8F8F8;
    color: #1576F5;
}

.button:nth-child(1){
    top: 46.4%;
}

.button:nth-child(2){
    top: 55%;
}

.button:nth-child(3){
    top: 62.8%;
}

.button:nth-child(4){
    top: 71.5%;
    border-radius: 0px 0px 32px 32px;
}

#alterarbusca {
    color: #fff;
    margin-left: 40%;
    z-index: 1;
    margin-top: 16vh !important;
    position: absolute;
    font-size: 2.5rem;
}

/* RESPONSIVIDADE */

@media (min-width:1025px) and (max-width: 1200px){
    #quemsomos {
        padding: 3vw;
        height: 70vh;
    }

    .caixatexto p {
        width: 50vw;
        margin-top: 8%;
    }

    .tabela {
        height: 410px;
    }

    .Imgfull {
        margin-top: 1vh;
    }
    .button {
        width: 396px;

    }
    .areabotoes {
        margin-top: -15vh;
        margin-left: 0.2vw;
    }
    #alterarbusca {
       font-size: 25px;
       margin-left: 55vw;
    }
    #alterartitulo {
        width: 1px;
    }
}

@media screen and (max-width: 1024px){
    #quemsomos {
        padding: 3vw;
        height: 60vh;
    }

    .caixatexto p {
        width: 52vw;
        margin-top: 12%;
        font-size: 14.4px;
        text-align: left;
    }

    .tabela {
        height: 420px;
    }

    .Imgfull {
        margin-top: 4vh;
        width: 310px;
    }
    .qsomos-info {
        background-color: transparent;
    }
    .button {
        width: 307px;
        height: 41px;
        padding: 1rem;
    }
    .areabotoes {
        margin-top: -11.5vh;
        margin-left: 0.2vw;
    }
    #alterarbusca {
       font-size: 25px;
       margin-left: 55vw;
    }
    #alterartitulo {
        display: none;
    }


}

@media screen and (max-width: 768px){

    .qsomos-container {
        display: block;
       
    }
   
}

@media screen and (max-width: 700px){
    #quemsomos{
        height: 70vh;
    }
    .Imgfull {
        margin-top: 14vh;
        margin-left: 20vw;
        width: 500px;
    }
    .mudabusca {
        display: none;
    }

    .tabela {
        margin-top: 2vh;
    }
    .qsomos {
        width: 93vw;
        padding: 1vw;
    }
    .caixatexto p {
        width: 90vw;
        margin-top: 11vh;
        font-size: 12px;
    }
    .qsomos-info {
        width: 50vw;
    }
    .areabotoes{
        margin-top: -12.5vh !important;
        margin-left: 21% !important;
    }
    .button {
        width: 49vw;
        margin-left: 10vw;
        height: 3.1vh;
        padding: 13px;
        font-size: 12px;
    }
    #mouseImg {
        display: none;
    }
}
@media screen and (max-width: 320px){

    .Imgfull {
        margin-top: 14vh;
        margin-left: 10vw;
    }
    .qsomos-info {
        width: 75vw;
    }
    .button {
        width: 73vw;
        margin-left: 10vw;
        height: 2vh;
        padding: 10px;
        font-size: 12px;
    }
    .areabotoes{
        margin-top: -9.5vh !important;
        margin-left: 2% !important;
    }
    .caixatexto p {
        margin-top: 9vh;
    }
}
 


/*
    .caixatexto p {
       margin-top: 7vh !important;
       font-size: 9px !important;
       width: 66vw !important;
       margin-left: -1vw !important;
    }
    .areabotoes{
        margin-top: -14.7vh !important;
        margin-left: 20% !important;
    }
    .button {
        font-size: 11px;
        height: 20px !important;
       width: 46vw !important;
    }
    #mouseImg {
        width: 10vw !important;
        margin-left: 45vw !important;
        margin-top: -6vw !important;
    }

    .tabela {
        min-width: 60vw !important;
        margin-left: 2vw !important;
        height: 30vh !important;
    }

    #alterarbusca {
        width: 20px ;
        margin-top: -10px  !important;
        margin-left:30vh !important;
    }
